<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>

    <div class="container"><br/><br/>
      <h3>Welcome to <strong>School of Lieur</strong></h3>
      <h2>Login</h2><br>
      <form action="/login" method="post" class="register-form">
        <div class="form-group">
          <label>Username : </label>
          <input type="text" name="username" value="" placeholder="username" class="form-control"><br><br>
          <label>Password : </label>
          <input type="password" name="password" value="" placeholder="password" class="form-control"><br><br>
          <button type="submit" name="button" class="btn btn-default">Login</button>
          <br><br><h5>If you don't have user access, register <a href="/register">here</a></h5>
        </div>
      </form>
    </div>


  </body>
</html>
